@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.car_image{
    display: flex;
    justify-content: center;
}
.car_image{
    background-image: url('/atlas.jpg');
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.available-colors{
    line-height: 2;
    font-family: 'Merriweather', serif;
    font-size: medium;
}
ul{
    list-style: none;
    text-align: center;
}
.Specs{
    line-height: 2;
    font-family: 'Merriweather', serif;
    font-size: medium;
}
.cart{
    text-align: center;
    margin: 5px 0px;
}
#title{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 70px;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 248, 255,.3);
    display: flex;
    align-items: center;
    justify-content: center;

}
.return_icon {
    transform: rotate(180deg);
    }